<%# TODO - Implement styling and move some of the code in partials %>
<% @user ||= current_user %>
<ol>
<h3><%= @user.username %></h3>
<% @user.posts.each do |post| %>
  <li>
  <%= post.content %>
    <% post.comments.each do |comment| %><br/>
      <%= comment.content %>
    <% end %><br/>
    Posted <%= time_ago_in_words(post.created_at) %> ago
  </li>
<% end %>
</ol>