<%# TODO - format the code and split it in partials %>
<%# avatar_url = current_user.facebook_picture_url || "http://placehold.it/30x30" %>
<%#= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
<main class="container">
  <div class="row justify-content-md-center">
    <div class="col-lg-8 col-sm-6 col-md-6">
      <% @posts.each do |post| %>
        <ul class="list-unstyled main-ul">
          <%= render 'shared/post_info', post: post %>
          <li><%= render 'shared/like_form', post: post %></li>
          <% post.comments.each do |comment| %>
            <%= render 'shared/post_comment', comment: comment %>
          <% end %>
          <%= render partial: 'comment_form', locals: {post: post, comment: @comment} %>
        </ul>
      <% end %>
    </div>
  </div>
</main>
